- content_for :header_tags do
  = javascript_pack_tag "home"

= render "shared/drawer"

.container
  .status__wrapper.py-2
    - if @statuses.any?
      = render @statuses
      = paginate @statuses
    - else
      #no-statuses-alert.alert.alert-warning.my-2 投稿がありません。
